
agm-map {
  height: 100vh;
  z-index: -1;
 }
.groundTag {
  position: absolute;
  top: 72vh;
  /* left: 100px; */
  background-color: #7f8287;
  height: 120px;
  width: 60vw;
  z-index: 3;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  border-radius: 4px;
}
.footerParent{
  display: flex;
  justify-content: center;
  align-items: center;
}
.topBar {
  position: absolute;
  display: flex;
  width: 100%;
  top: 0;
  z-index: 3;
  justify-content: flex-end;
  /* align-items: flex-end */
}
.btnClass {
  display: flex;
  justify-content: space-evenly;
  margin-top: 40px;
  margin-right: 40px;
}