<!-- <div id="map_canvas">
    <google-map >
    </google-map>
</div> -->

<!-- <div>
    <agm-map>

    </agm-map>
    <div>

    </div>
</div> -->

<div>
  <div class="topBar">
    <div class="parentDiv">
    <div *ngIf="searchToggle" class="searchInp">
      <!-- <mat-form-field class="example-full-width"> -->
        <div style="justify-content: space-between;display: flex">
            <input class="inp" placeholder="Enter your farm location">
            <button (click)="getSearch()" style="height: 59px" mat-raised-button color="primary">
                <mat-icon>search</mat-icon>              
            </button>
            <button (click)="removeSearch()" style="height: 59px;margin-left: 1px;" mat-raised-button color="primary">
                <mat-icon>close</mat-icon>              
            </button>
        </div>
      <!-- </mat-form-field> -->

    </div>
  </div>
    <div *ngIf="!searchToggle" slot="end" class="btnClass">
      <button (click)="getSearch()" style="background: transparent" mat-fab color="primary">
          <mat-icon>search</mat-icon>              
      </button>
      <button style="margin-left: 30px;background-color: green" mat-fab color="primary">
          <mat-icon>gps_fixed</mat-icon>              
      </button>
    </div>
  </div>
  <agm-map [latitude]="lat" [zoom]="zoom" [longitude]="lng">
    <agm-marker  [latitude]="lat" [longitude]="lng"></agm-marker>
  </agm-map>
  <div class="footerParent">
    <div class="groundTag"></div>
  </div>
</div>
