<!-- <div id="map_canvas">
    <google-map >
    </google-map>
</div> -->

<!-- <div>
    <agm-map>

    </agm-map>
    <div>

    </div>
</div> -->

<div>
  <div class="topBar">
    <div slot="end" class="btnClass">
      <button style="background: transparent" mat-fab color="primary">
          <mat-icon>search</mat-icon>              
      </button>
      <button style="margin-left: 30px;background-color: green" mat-fab color="primary">
          <mat-icon>gps_fixed</mat-icon>              
      </button>
    </div>
  </div>
  <agm-map [latitude]="lat" [zoom]="zoom" [longitude]="lng">
    <agm-marker  [latitude]="lat" [longitude]="lng"></agm-marker>
  </agm-map>
  <div class="footerParent">
    <div class="groundTag"></div>
  </div>
</div>
